// ===========================================
// Border - Default Theme
// ===========================================

$theme-border-size   : 1px !default;
$theme-border-width  : 1px !default;
$theme-border-style  : solid !default;
$theme-border-radius : 3px !default;
$theme-border-color  : lighten(map-get($theme-colors, gray), 25%) !default;
