// ===========================================
// Color - Default Theme
// ===========================================

$theme-colors: (
    gray         : #979b9c,
    blue         : #51a7e8,
    white        : #fff,
    black        : #0c0d12,
    red          : #d90429,
    green        : #569e3d,
    orange       : #c99600
) !default;

$theme-color-text       : map-get($theme-colors, black) !default;
$theme-color-background : map-get($theme-colors, white) !default;
