// ===========================================
// Margin - Default Theme
// ===========================================

// Caution! It should be set to single value for
// every variant

$theme-margin: (
    xx-small: 3px,
    x-small: 6px,
    small: 12px,
    medium: 18px,
    large: 24px,
    x-large: 30px,
    xx-large: 36px
) !default;

$theme-padding: $theme-margin !default;
