// ===========================================
// Typography - Default Theme
// ==========================================

$theme-font-family: "Helvetica", Arial, Serif !default;

// All values should be even number
$theme-font-size: (
    small: 14px,
    medium: 16px,
    large: 20px,
    x-large: 22px,
    xx-large: 24px
) !default;

$theme-line-height: (
    small: 1.4,
    medium: 1.4,
    large: 1.2,
    x-large: 1.2,
    xx-large: 1.2
) !default;

$theme-font-weight: (
    light: 300,
    normal: 400,
    bold: 700,
    super-bold: 800
) !default;

$theme-letter-spacing: 0 !default;

$theme-word-spacing: 1px !default;
