// Default Color Theme
// =======================================

$bright-gray: #edf2f4;
$gray: #d8dcde;
$deep-gray: #979b9c;
$navy: #8d99ae;
$blues: #2b2d42;
$white: #fff;
$black: #0c0d12;
$pink: #ef233c;
$bright-red: #dc1a3c;
$red: #d90429;

// Super Global Color

$color-text: $black;
$color-background: $white;

// Component Color

$color-link: (
    normal: (
        dark: $red,
        light: $bright-gray
    ),
    hover: (
        dark: $bright-red,
        light: $white
    )
);
$color-button: (
    cta: (
        normal: (
            background: $red,
            foreground: $white
        ),
        hover: (
            background: $bright-red,
            foreground: $white
        ),
    ),
    inverse-cta: (
        normal: (
            background: $white,
            foreground: $red
        ),
        hover: (
            background: $white,
            foreground: $white
        )
    )
);
