section.section(id= "badge")
  header.section__header
    h2.u-text-post--large.u-mg-bottom--medium Badge
  .section__content
    p.u-text--large Basic Badge
    .section__items.u-mg-bottom--medium
      span.badge Badge
      span.badge.badge--gray Badge
      span.badge.badge--blue Badge
      span.badge.badge--red Badge
      span.badge.badge--orange Badge
    code(class= 'html').
      <span class='badge'>Badge</span>
      <span class='badge badge--gray'>Badge</span>
      <span class='badge badge--blue'>Badge</span>
      <span class='badge badge--red'>Badge</span>
      <span class='badge badge--orange'>Badge</span>
