section.section(id= "buttons")
  header.section__header
    h2.u-text--large.u-mg-bottom--medium Buttons
  .section__content.u-mg-bottom--medium
    p 1. Button CTA
    .section__items
      button.btn.btn--cta.btn--x-large.u-mg-right--small x-large
      button.btn.btn--cta.btn--large.u-mg-right--small large
      button.btn.btn--cta.u-mg-right--small medium
      button.btn.btn--cta.btn--small small
  .section__content.u-mg-bottom--medium
    p 2. Button Inverse CTA
    .section__items
      button.btn.btn--i-cta.btn--x-large.u-mg-right--small x-large
      button.btn.btn--i-cta.btn--large.u-mg-right--small large
      button.btn.btn--i-cta.u-mg-right--small medium
      button.btn.btn--i-cta.btn--small small
  .section__content.u-mg-bottom--medium
    p 3. Button Disabled
    .section__items
      button.btn.btn--cta.btn--x-large.u-mg-right--small(disabled= true) x-large
      button.btn.btn--cta.btn--large.u-mg-right--small(disabled= true) large
      button.btn.btn--cta.u-mg-right--small(disabled= true) medium
      button.btn.btn--cta.btn--small(disabled= true) small
  .section__content.u-mg-bottom--medium
    p 4. Button Common
    .section__items
      button.btn.btn--common.btn--x-large.u-mg-right--small x-large
      button.btn.btn--common.btn--large.u-mg-right--small large
      button.btn.btn--common.u-mg-right--small medium
      button.btn.btn--common.btn--small small
  .section__content.u-mg-bottom--medium
    p 5. Button Common with Icon
    .section__items
      button.btn.btn--common.btn--x-large.u-mg-right--small #[i.i-android-attach] x-large
      button.btn.btn--common.btn--large.u-mg-right--small #[i.i-android-attach] large
      button.btn.btn--common.u-mg-right--small #[i.i-android-attach] medium
      button.btn.btn--common.btn--small #[i.i-android-attach] small
  .section__content.u-mg-bottom--medium
    p 6. Any Button with Icon
    .section__items
      button.btn.btn--cta.btn--x-large.u-mg-right--small #[i.i-android-attach] x-large
      button.btn.btn--cta.btn--large.u-mg-right--small(disabled= true) #[i.i-android-attach] large
      button.btn.btn--i-cta.u-mg-right--small #[i.i-android-attach] medium
      button.btn.btn--common.btn--small #[i.i-android-attach] small
  .section__content.u-mg-bottom--medium
    p 7. Button Block - Use Grid
    .section__items
      .row
        .gr-3
          button.btn.btn--cta.btn--block.btn--x-large #[i.i-android-attach] x-large
        .gr-3
          button.btn.btn--cta.btn--block.btn--large(disabled= true) #[i.i-android-attach] large
        .gr-3
          button.btn.btn--i-cta.btn--block #[i.i-android-attach] medium
        .gr-3
          button.btn.btn--common.btn--small.btn--block #[i.i-android-attach] small
  .section__content.u-mg-bottom--medium
    p 8. Button Dropdown
    .section__items(data-module="actions")
      .btn-dropdown.u-mg-right--small(data-type="dropdown")
        button.btn.btn--cta common dropdown #[i.i-android-arrow-dropdown]
        .dropdown
          .dropdown__item.
            #[h4 Item dropdown 1]
            #[.dropdown__item-content Lorem ipsum dolor sit amet, bla blab blab bla bla]
          .dropdown__item.
            #[h4 Item dropdown 2]
            #[.dropdown__item-content Lorem ipsum dolor sit amet, bla blab blab bla bla]
          .dropdown__item.
            #[h4 Item dropdown 3]
            #[.dropdown__item-content Lorem ipsum dolor sit amet, bla blab blab bla bla]
      .btn-dropdown.u-mg-right--small(data-type="dropdown")
        button.btn.btn--cta dropdown right #[i.i-android-arrow-dropdown]
        ul.dropdown.dropdown--right
          li.dropdown__item Item dropdown 1
          li.dropdown__item Item dropdown 2
          li.dropdown__item Item dropdown 3
      .btn-dropdown.u-mg-right--small(data-type="dropdown")
        button.btn.btn--cta dropdown top #[i.i-android-arrow-dropdown]
        ul.dropdown.dropdown--top
          li.dropdown__item Item dropdown 1
          li.dropdown__item Item dropdown 2
          li.dropdown__item Item dropdown 3
      .btn-dropdown(data-type="dropdown")
        button.btn.btn--cta dropdown top right #[i.i-android-arrow-dropdown]
        ul.dropdown.dropdown--top.dropdown--right
          li.dropdown__item Item dropdown 1
          li.dropdown__item Item dropdown 2
          li.dropdown__item Item dropdown 3
  .section__content.u-mg-bottom--medium
    p 9. Button Group
    .section__items
      .btn-group
        button.btn.btn--common.btn--x-large #[i.i-android-attach] x-large
        button.btn.btn--common.btn--x-large(disabled= true) x-large
        button.btn.btn--common.btn--x-large x-large
  .section__content.u-mg-bottom--medium
    p 10. Button with Anchor Tag
    .section__items
      .btn-group
        a.btn.btn--common.btn--x-large(href= '#') x-large
        a.btn.btn--common.btn--x-large(href= '#', disabled= true) x-large
        a.btn.btn--common.btn--x-large(href= '#') x-large
