section.section(id= "cards")
  header.section__header
    h2.u-text--large.u-mg-bottom--medium Cards
  .section__content
    .row
      .gr-4
        .card
          .card__thumbnail.u-mg-bottom--medium
            img.card__img(src= "images/sample-image-1.jpeg")
          .card__title.u-mg-bottom--medium
            h3.u-text--large This is card title
          .card__content.
            Facer impetus no sed, ne pro zril bonorum. An meliore intellegat philosophia per, et etiam assum reformidans vim. Harum numquam pri ei, vix in feugiat insolens vulputate. Modus omnium forensibus et pri, te mei natum molestiae.

      .gr-4
        .card
          .card__title.u-mg-bottom--medium
            h3.u-text--large This is card title
          .card__thumbnail.u-mg-bottom--medium
            img.card__img(src= "images/sample-image-2.jpeg")
          .card__content.
            Facer impetus no sed, ne pro zril bonorum. An meliore intellegat philosophia per, et etiam assum reformidans vim. Harum numquam pri ei, vix in feugiat insolens vulputate. Modus omnium forensibus et pri, te mei natum molestiae.

      .gr-4
        .card
          .card__title.u-mg-bottom--medium
            h3.u-text--large This is card title
          .card__content.u-mg-bottom--medium.
            Facer impetus no sed, ne pro zril bonorum. An meliore intellegat philosophia per, et etiam assum reformidans vim. Harum numquam pri ei, vix in feugiat insolens vulputate. Modus omnium forensibus et pri, te mei natum molestiae.
          .card__thumbnail
            img.card__img(src= "images/sample-image-3.jpeg")
