section.section(id= "fields", data-module="notification")
  header.section__header
    h2.u-text--large.u-mg-bottom--medium Notification
  .section__content.u-mg-bottom--medium
    p 1. Success notification
    button.btn.btn--common(data-type="trigger", data-target='success-notif') Click to Show Notification
    .section__items
      .notif#success-notif.
        This is just notif
        #[span.notif__action #[i.i-close]]
  .section__content.u-mg-bottom--medium
    p 2. Error notification
    button.btn.btn--common(data-type="trigger", data-target='error-notif') Click to Show Notification
    .section__items
      .notif.notif--error#error-notif.
        This is just notif
        #[span.notif__action #[i.i-close]]
