section.section(id= "tab")
  header.section__header
    h2.u-text--large.u-mg-bottom--medium Tab
  .section__content
    p 1. Basic Tab
    .section__items.u-mg-bottom--medium
      .tab
        ul.tab-nav
          li.tab-nav__menu Menu 1
          li.tab-nav__menu.is-active Menu 2
          li.tab-nav__menu Menu 3
        section.tab__panel.is-active
          .flag.flag--top
            .flag__head.u-width--2-12
              img(src= "images/sample-image-1.jpeg")
            .flag__body.u-pd-left--medium.u-pd-right--medium
              h3.u-mg-bottom--medium Article title
              p.u-mg-bottom--medium.
                In 1981, Langer and a group of graduate students designed the interior of a building to reflect the styles and conditions of the year 1959. Scattered about were a black-and-white TV, old furniture, and magazines and books from the 1950s.
              p.u-mg--none.
                This structure would be home to a group of eight men, all over 70 years of age, for five days. When these men arrived at the building, they were told they should not merely discuss this past era while living there, but act is if they actually were their younger selves, 22 years earlier. “We have good reason to believe if you are successful at this, you will feel as you did in 1959,” Langer told them.
