section.section(id= "tab")
  header.section__header
    h2.u-text--large.u-mg-bottom--medium Tab
  .section__content
    p 1. Basic Tab
    .section__items.u-mg-bottom--medium
      .tab
        ul.tab-nav
          li.tab-nav__menu Menu 1
          li.tab-nav__menu.is-active Menu 2
          li.tab-nav__menu Menu 3
        section.tab__panel.is-active
          Lorem ipsum dolor sit amet
