doctype html
html(lang='en')
  head
    title Documentation
    link(href='ayu.min.css', rel='stylesheet')
    link(href='demo.css', rel='stylesheet')
  body
    .row
      .gr-10
        .u-pd-right--large.u-pd-left--x-large
          .hero
            h1.hero__title.u-text-post--x-large.u-text-align--center Ayu
            p.hero__body.u-text-post--medium.u-text-align--center CSS bootstrap for web UI, powered by Gridle and Ionicons, and follow BEM styleguide.
          p.u-text-align--center #[em Why another scaffold dear developer?] Because i need my very own scaffold.
          include _buttons.pug
          include _fields.pug
          include _box.pug
          include _callouts.pug
          include _modals.pug
          include _cards.pug
          p.
            Thanks to the developer that made these cool stuff, they are either become my guide on making this framework or included in this framework -
            #[a(href="http://getbootstrap.com") Bootstrap Twitter]
            #[a(href= "http://gulpjs.com/") Gulp]
            #[a(href= "http://gridle.org") Gridle.scss]
            #[a(href= "https://github.com/driftyco/ionicons") Ionicons]
      .gr-2(style='position: relative;')
        ul.list
          li.list__item
            a.list__nav(href="#") Introduction
          li.list__section Components
          li.list__item
            a.list__nav(href="#button") Buttons
          li.list__item
            a.list__nav(href="#field") Fields
          li.list__item
            a.list__nav(href="#box") Box
          li.list__item
            a.list__nav(href="#callout") Callout
          li.list__item
            a.list__nav(href="#modal") Modal
          li.list__section Mixing Out Components
          li.list__item
            a.list__nav(href="#card") Card
    script(src='app.min.js', type="text/javascript")
