// ===========================================
// Box - Default Theme
// ==========================================

$theme-box-padding       : calculate-spacing(3) !default;
$theme-box-border-width  : $theme-border-width !default;
$theme-box-border-radius : $theme-border-radius !default;
$theme-box-border-style  : $theme-border-style !default;
$theme-box-text-align    : left !default;

$theme-color-box-header: (
    background : lighten(map-get($theme-colors, gray), 35%),
    foreground : lighten(map-get($theme-colors, gray), 25%)
) !default;

$theme-color-box-header-danger: (
    background : lighten(map-get($theme-colors, red), 15%),
    foreground : map-get($theme-colors, red)
) !default;

$theme-color-box-content: (
    background : map-get($theme-colors, white),
    foreground : map-get($theme-colors, gray),
    border     : lighten(map-get($theme-colors, gray), 25%)
) !default;
