// ===========================================
// Callout - Default Theme
// ==========================================

$theme-callout-padding: (
    medium: calculate-spacing(.5) calculate-spacing(1),
    large: calculate-spacing(1) calculate-spacing(1.5)
) !default;

$theme-color-callout-success: (
    background: $green,
    foreground: $deep-green
) !default;

$theme-color-callout-error: (
    background: $pink,
    foreground: $red
) !default;

$theme-color-callout-warning: (
    background: $green,
    foreground: $deep-green
) !default;

$theme-callout-position-top: -50px !default;
$theme-callout-position-show-top: 12px !default;
$theme-callout-transition: all .15s ease-out !default;
$theme-callout-width: 500px !default;
