// ===========================================
// Card - Default Theme
// ==========================================

$theme-card-padding           : calculate-spacing(2) !default;
$theme-card-border-radius     : $theme-border-radius !default;
$theme-card-fixed-title-height: 2.6em !default;

// Card
$theme-color-card: (
    background      : map-get($theme-colors, white),
    foreground      : map-get($theme-colors, black),
    link-default    : map-get($theme-colors, navy),
    link-hover      : map-get($theme-colors, blues),
    border          : map-get($theme-colors, gray),
    date            : map-get($theme-colors, navy),
    category-default: map-get($theme-colors, navy),
    category-hover  : map-get($theme-colors, blues)
) !default;
