// ===========================================
// Card - Default Theme
// ==========================================

$theme-card-padding: 15px !default;
$theme-card-margin: calculate-spacing(3) !default;
$theme-card-border-radius: $theme-border-radius !default;
$theme-card-fixed-title-height: 2.6em !default;

// Card
$theme-color-card: (
    background: $white,
    foreground: $black,
    link-default: $japanese-indigo,
    link-hover: $dark-zomp,
    border: $timberwolf,
    date: $laurel-green,
    category-default: $zomp,
    category-hover: $dark-zomp
) !default;
