$theme-dropdown-item-margin-hz: -1 * calculate-spacing(3) !default;
$theme-color-dropdown-item-hover: $bright-gray !default;
$theme-dropdown-padding: (
    small: calculate-spacing(.5),
    medium: calculate-spacing(.5) calculate-spacing(1),
    large: calculate-spacing(1) calculate-spacing(1.5),
    x-large: calculate-spacing(1.5) calculate-spacing(2)
) !default;
