// ===========================================
// Icon - Default Theme
// ==========================================

$ionicons-font-path: "/assets/typefaces" !default;
$ionicons-prefix: i- !default;

@import "ionicons";

$theme-icon-font-family: $ionicons-font-family !default;
$theme-icon-dropdown: $ionicon-var-android-arrow-dropdown !default;
