// ===========================================
// Inline Page - Default Theme
// ==========================================

$theme-ipage-transition: all .25s ease-out !default;
$theme-color-ipage: (
    background: $theme-color-background
);
