// ===========================================
// Notification - Default Theme
// ==========================================

$theme-notif-padding: (
    medium: calculate-spacing(.5) calculate-spacing(1),
    large: calculate-spacing(1) calculate-spacing(1.5)
) !default;

$theme-color-notif-success: (
    background: $green,
    foreground: $deep-green
) !default;

$theme-color-notif-error: (
    background: $pink,
    foreground: $red
) !default;

$theme-color-notif-warning: (
    background: $green,
    foreground: $deep-green
) !default;

$theme-notif-position-top: -50px !default;
$theme-notif-position-show-top: 12px !default;
$theme-notif-transition: all .15s ease-out !default;
$theme-notif-width: 500px !default;
