// ===========================================
// Notification - Default Theme
// ==========================================

$theme-notif-padding: (
    medium: 3px 5px,
    large: 5px 8px
) !default;

$theme-color-notif-success: (
    background: $green,
    foreground: $deep-green
) !default;

$theme-color-notif-error: (
    background: $pink,
    foreground: $red
) !default;

$theme-color-notif-warning: (
    background: $green,
    foreground: $deep-green
) !default;

$theme-notif-position-top: -50px !default;
$theme-notif-position-show-top: 12px !default;
$theme-notif-transition: all .15s ease-out !default;
$theme-notif-width: 500px !default;
