// ===========================================
// Notification - Default Theme
// ==========================================

$theme-notif-padding: (
    medium: 3px 5px,
    large: 5px 8px
);

$theme-color-notif-success: (
    background: $green,
    foreground: $deep-green
);

$theme-color-notif-error: (
    background: $pink,
    foreground: $red
);

$theme-color-notif-warning: (
    background: $green,
    foreground: $deep-green
);
