// ===========================================
// Quote - Default Theme
// ==========================================

$theme-quote-padding: calculate-spacing(2) !default;
$theme-quote-border-radius: 5px !default;

// Quote
$theme-color-quote: (
    background: $peach,
    foreground: $white
) !default;
