// ===========================================
// Sidebar - Default Theme
// ==========================================

$theme-sidebar-width: 250px !default;
$theme-sidebar-padding: calculate-spacing(3) !default;
$theme-sidebar-item-icon-margin: calculate-spacing(1) !default;

$theme-color-sidebar-background: $bright-gray !default;
