// ===========================================
// Sidebar - Default Theme
// ==========================================

$theme-sidebar-width: 250px !default;
$theme-sidebar-padding: 20px !default;

$theme-color-sidebar-background: $bright-gray !default;
