// ===========================================
// Tag - Default Theme
// ==========================================

$theme-tag-padding: calculate-spacing(.5) calculate-spacing(1) !default;
$theme-tag-margin: calculate-spacing(1) !default;
$theme-tag-border-radius: $theme-border-radius !default;

// Tag
$theme-color-tag: (
    background: $zomp,
    foreground: $white,
    hover: $dark-zomp
) !default;
