// ===========================================
// Tree - Default Theme
// ==========================================

$theme-tree-subtitle-margin: calculate-spacing(1) !default;
$theme-tree-link-margin: calculate-spacing(1) !default;

// Tree
$theme-color-tree: (
    subtitle: map-get($theme-colors, green),
    list-default: map-get($theme-colors, green),
    list-hover: map-get($theme-colors, green)
) !default;
