// ===========================================
// Tree - Default Theme
// ==========================================

$theme-tree-subtitle-margin: calculate-spacing(1) !default;
$theme-tree-link-margin: calculate-spacing(1) !default;

// Tree
$theme-color-tree: (
    subtitle: $japanese-indigo,
    list-default: $zomp,
    list-hover: $dark-zomp
) !default;
