// ===========================================
// Typography - Default Theme
// ==========================================

$theme-font-family: "Helvetica", Arial, Serif;

$theme-font-size: (
    small: 12px,
    medium: 14px,
    large: 18px,
    x-large: 20px,
    xx-large: 22px
);

$theme-line-height: (
  small: 18px,
  medium: 20px,
  large: 21px,
  x-large: 23px,
  xx-large: 25px
);

$theme-letter-spacing: 1px;

$theme-word-spacing: 3px;
