// ==============================================================
// Color Settings
// ==============================================================
// You should declare list of colors on theme folder,
// then include it on app.scss

$global-use-theme: false !default;

@if ($global-use-theme == false) {
    @error "You should import a theme, otherwise it will not work!";
}

// -------------------------------------------
// Elements
// -------------------------------------------

$global-color-text: $theme-color-text;
$global-color-background: $theme-color-background;

// -------------------------------------------
// Component
// -------------------------------------------

// Link
$global-color-link-cta-normal: $theme-color-link-cta-normal;
$global-color-link-cta-hover: $theme-color-link-cta-hover;

// Button
$global-color-button-disabled: $theme-color-button-disabled;
$global-color-button-common-normal: $theme-color-button-common-normal;
$global-color-button-common-hover: $theme-color-button-common-hover;
$global-color-button-cta-normal: $theme-color-button-cta-normal;
$global-color-button-cta-hover: $theme-color-button-cta-hover;
$global-color-button-inverse-cta-normal: $theme-color-button-inverse-cta-normal;
$global-color-button-inverse-cta-hover: $theme-color-button-inverse-cta-hover;
