// =====================================================
// Margin Utilities
// =====================================================

$u-margin-prefix: "u-mg";
$u-margin-variants: (
    x-small: .5,
    small: 1,
    medium: 2,
    large: 3,
    x-large: 4,
    xx-large: 5
);

@each $variant, $scale in $u-margin-variants {

    .#{$u-margin-prefix}--#{$variant} {
        @include margin($scale);
    }

}

@each $variant, $scale in $u-margin-variants {

    .#{$u-margin-prefix}-top--#{$variant} {
        @include margin($scale, top);
    }

}

@each $variant, $scale in $u-margin-variants {

    .#{$u-margin-prefix}-rgt--#{$variant} {
        @include margin($scale, right);
    }

}

@each $variant, $scale in $u-margin-variants {

    .#{$u-margin-prefix}-btm--#{$variant} {
        @include margin($scale, bottom);
    }

}

@each $variant, $scale in $u-margin-variants {

    .#{$u-margin-prefix}-lft--#{$variant} {
        @include margin($scale, left);
    }

}
