// =====================================================
// Margin Utilities
// =====================================================

$u-margin-prefix: "u-mg";
$u-margin-variants: $theme-margin;

@each $variant, $size in $u-margin-variants {

    .#{$u-margin-prefix}--#{$variant} {
        margin: $size;
    }

}

@each $variant, $size in $u-margin-variants {

    .#{$u-margin-prefix}-top--#{$variant} {
        margin-top: $size;
    }

}

@each $variant, $size in $u-margin-variants {

    .#{$u-margin-prefix}-rgt--#{$variant} {
        margin-right: $size;
    }

}

@each $variant, $size in $u-margin-variants {

    .#{$u-margin-prefix}-btm--#{$variant} {
        margin-bottom: $size;
    }

}

@each $variant, $size in $u-margin-variants {

    .#{$u-margin-prefix}-lft--#{$variant} {
        margin-left: $size;
    }

}
