// =====================================================
// Spacing Utilities
// =====================================================

// -----------------------------------------------------
// Margin Utilities
// -----------------------------------------------------

$u-margin-prefix: "u-mg";
$u-margin-variants: (
    none: 0,
    x-small: .5,
    small: 1,
    medium: 2,
    large: 3,
    x-large: 4,
    xx-large: 5
);

@each $variant, $scale in $u-margin-variants {

    .#{$u-margin-prefix}--#{$variant} {
        margin: margin($scale);
    }

}

@each $variant, $scale in $u-margin-variants {

    .#{$u-margin-prefix}-top--#{$variant} {
        margin-top: margin($scale);
    }

}

@each $variant, $scale in $u-margin-variants {

    .#{$u-margin-prefix}-right--#{$variant} {
        margin-right: margin($scale);
    }

}

@each $variant, $scale in $u-margin-variants {

    .#{$u-margin-prefix}-bottom--#{$variant} {
        margin-bottom: margin($scale);
    }

}

@each $variant, $scale in $u-margin-variants {

    .#{$u-margin-prefix}-left--#{$variant} {
        margin-left: margin($scale);
    }

}

// -----------------------------------------------------
// Padding Utilities
// -----------------------------------------------------

$u-padding-prefix: "u-pd";
$u-padding-variants: (
    none: 0,
    x-small: .5,
    small: 1,
    medium: 2,
    large: 3,
    x-large: 4,
    xx-large: 5
);

@each $variant, $scale in $u-padding-variants {

    .#{$u-padding-prefix}--#{$variant} {
        padding: padding($scale);
    }

}

@each $variant, $scale in $u-padding-variants {

    .#{$u-padding-prefix}-top--#{$variant} {
        padding-top: padding($scale);
    }

}

@each $variant, $scale in $u-padding-variants {

    .#{$u-padding-prefix}-right--#{$variant} {
        padding-right: padding($scale);
    }

}

@each $variant, $scale in $u-padding-variants {

    .#{$u-padding-prefix}-bottom--#{$variant} {
        padding-bottom: padding($scale);
    }

}

@each $variant, $scale in $u-padding-variants {

    .#{$u-padding-prefix}-left--#{$variant} {
        padding-left: padding($scale);
    }

}
