// =====================================================
// Text Utilities
// =====================================================

$u-text-prefix: "u-text";
$u-text-variants: $theme-font-size;
$u-text-post-variants: $theme-post-font-size;

@each $variant, $size in $u-text-variants {
    .#{$u-text-prefix}--#{$variant} {
        font-size: $size;
        line-height: map-get($theme-line-height, $variant);
    }
}

@each $variant, $size in $u-text-post-variants {
    .#{$u-text-prefix}-post--#{$variant} {
        font-size: $size;
        line-height: map-get($theme-post-line-height, $variant);
    }
}

.#{$u-text-prefix}--bold {
    font-weight: bold;
}

.#{$u-text-prefix}--op-3 {
    opacity: .3;
}

.#{$u-text-prefix}--centered {
    text-align: center;
}
