// =====================================================
// Text Utilities
// =====================================================

$u-text-prefix: "u-text";
$u-text-variants: $theme-font-size;
$u-text-post-variants: $theme-post-font-size;
$u-text-weight-variants: $theme-font-weight;

@each $variant, $size in $u-text-variants {
    .#{$u-text-prefix}--#{$variant} {
        font-size: $size;
        line-height: map-get($theme-line-height, $variant);
    }
}

@each $variant, $size in $u-text-post-variants {
    .#{$u-text-prefix}-post--#{$variant} {
        font-size: $size;
        line-height: map-get($theme-post-line-height, $variant);
    }
}

@each $variant, $weight in $u-text-weight-variants {
    .#{$u-text-prefix}-weight--#{$variant} {
        font-weight: $weight;
    }
}

@for $opacity from 0 through 10 {
    .#{$u-text-prefix}-op--#{$opacity} {
        opacity: $opacity / 10;
    }
}

@each $variant in (center, left, right, justify, initial) {
    .#{$u-text-prefix}-align--#{$variant} {
        text-align: $variant;
    }
}
