// ===========================================
// Default Theme
// ===========================================
// See how it has the same structure as main
// framework?

$theme-max-breakpoint: 1224px !default;
$theme-cdn-icon: false !default;

$theme-badge-enable: true !default;
$theme-box-enable: true !default;
$theme-button-enable: true !default;
$theme-callout-enable: true !default;
$theme-dropdown-enable: true !default;
$theme-field-enable: true !default;
$theme-flag-enable: true !default;
$theme-icon-enable: true !default;
$theme-modal-enable: true !default;
$theme-paginator-enable: true !default;
$theme-post-enable: true !default;
$theme-tab-enable: true !default;

// -------------------------------------------
// Base
// -------------------------------------------

@import "base/colors";
@import "base/typography";
@import "base/border";
@import "base/spacing";
@import "base/grid";

// -------------------------------------------
// Components
// -------------------------------------------

@import "components/badge";
@import "components/box";
@import "components/button";
@import "components/callout";
@import "components/dropdown";
@import "components/field";
@import "components/inline-page";
@import "components/list";
@import "components/modal";
@import "components/paginator";
@import "components/post";
@import "components/tab";
