section.section(id= "boxes")
  header.section__header
    h2 Boxes
  .section__content
    p 1. Common Box
    .box
      .box__header Title for box
      .box__content.
        #[p Whatever you like it]
        #[span.box__separator]
        #[p We will use your email when performing our daily operations and sending email on your behalf. If you want command line operations to use your private email you must set your email here.]
        #[div #[button.btn.btn--cta.btn--medium set my email]]
