section.section(id= "buttons")
  header.section__header
    h2.u-text--large.u-mg--medium Buttons
  .section__content.u-mg--medium
    p 1. Button CTA
    .section__items
      button.btn.btn--cta.btn--x-large x-large
      button.btn.btn--cta.btn--large large
      button.btn.btn--cta medium
      button.btn.btn--cta.btn--small small
  .section__content.u-mg--medium
    p 2. Button Inverse CTA
    .section__items
      button.btn.btn--i-cta.btn--x-large x-large
      button.btn.btn--i-cta.btn--large large
      button.btn.btn--i-cta medium
      button.btn.btn--i-cta.btn--small small
  .section__content.u-mg--medium
    p 3. Button Disabled
    .section__items
      button.btn.btn--cta.btn--x-large(disabled= true) x-large
      button.btn.btn--cta.btn--large(disabled= true) large
      button.btn.btn--cta(disabled= true) medium
      button.btn.btn--cta.btn--small(disabled= true) small
  .section__content.u-mg--medium
    p 4. Button Common
    .section__items
      button.btn.btn--common.btn--x-large x-large
      button.btn.btn--common.btn--large large
      button.btn.btn--common medium
      button.btn.btn--common.btn--small small
  .section__content.u-mg--medium
    p 5. Button Common with Icon
    .section__items
      button.btn.btn--common.btn--x-large #[i.i-android-attach] x-large
      button.btn.btn--common.btn--large #[i.i-android-attach] large
      button.btn.btn--common #[i.i-android-attach] medium
      button.btn.btn--common.btn--small #[i.i-android-attach] small
  .section__content.u-mg--medium
    p 6. Any Button with Icon
    .section__items
      button.btn.btn--cta.btn--x-large #[i.i-android-attach] x-large
      button.btn.btn--cta.btn--large(disabled= true) #[i.i-android-attach] large
      button.btn.btn--i-cta #[i.i-android-attach] medium
      button.btn.btn--common.btn--small #[i.i-android-attach] small
  .section__content.u-mg--medium
    p 7. Button Block - Use Grid
    .section__items
      .row
        .gr-3
          button.btn.btn--cta.btn--block.btn--x-large #[i.i-android-attach] x-large
        .gr-3
          button.btn.btn--cta.btn--block.btn--large(disabled= true) #[i.i-android-attach] large
        .gr-3
          button.btn.btn--i-cta.btn--block #[i.i-android-attach] medium
        .gr-3
          button.btn.btn--common.btn--small.btn--block #[i.i-android-attach] small
  .section__content.u-mg--medium
    p 8. Button Dropdown
    .section__items
      button.btn.btn--cta.btn--x-large.btn--dropdown x-large #[i.i-android-arrow-dropdown]
      button.btn.btn--cta.btn--large.btn--dropdown(disabled= true) large #[i.i-android-arrow-dropdown]
      button.btn.btn--i-cta.btn--dropdown medium #[i.i-android-arrow-dropdown]
      button.btn.btn--common.btn--small.btn--dropdown small #[i.i-android-arrow-dropdown]
  .section__content.u-mg--medium
    p 9. Button Group
    .section__items
      .btn-group
        button.btn.btn--common.btn--x-large #[i.i-android-attach] x-large
        button.btn.btn--common.btn--x-large(disabled= true) x-large
        button.btn.btn--common.btn--x-large x-large
