section.section
  header.section__header
    h2 Buttons
  .section__content
    p 1. Button CTA
    .section__items
      button.button.button--cta.button--x-large x-large
      button.button.button--cta.button--large large
      button.button.button--cta medium
      button.button.button--cta.button--small small
  .section__content
    p 2. Button Inverse CTA
    .section__items
      button.button.button--i-cta.button--x-large x-large
      button.button.button--i-cta.button--large large
      button.button.button--i-cta medium
      button.button.button--i-cta.button--small small
  .section__content
    p 3. Button Disabled
    .section__items
      button.button.button--cta.button--x-large(disabled= true) x-large
      button.button.button--cta.button--large(disabled= true) large
      button.button.button--cta(disabled= true) medium
      button.button.button--cta.button--small(disabled= true) small
  .section__content
    p 4. Button Common
    .section__items
      button.button.button--common.button--x-large x-large
      button.button.button--common.button--large large
      button.button.button--common medium
      button.button.button--common.button--small small
  .section__content
    p 5. Button with Icon
    .section__items
      button.button.button--common.button--x-large #[i.i-android-attach] x-large
      button.button.button--common.button--large #[i.i-android-attach] large
      button.button.button--common #[i.i-android-attach] medium
      button.button.button--common.button--small #[i.i-android-attach] small
