section
  header
    h2 Buttons
  .section-content
    button.button.button--cta.button--x-large x-large
    button.button.button--cta.button--large large
    button.button.button--cta medium
    button.button.button--cta.button--small small
  .section-content
    button.button.button--i-cta.button--x-large x-large
    button.button.button--i-cta.button--large large
    button.button.button--i-cta medium
    button.button.button--i-cta.button--small small
