section.section(id= "fields")
  header.section__header
    h2.u-text--large.u-mg--medium Notification
  .section__content.u-mg--medium
    p 1. Success notification
    .section__items
      .notif.
        This is just notif
        #[span.notif__action #[i.i-close]]
  .section__content.u-mg--medium
    p 2. Error notification
    .section__items
      .notif.notif--error.
        This is just notif
        #[span.notif__action #[i.i-close]]
