section.section(id= "fields")
  header.section__header
    h2.u-text--large Notification
  .section__content
    p 1. Normal text field
    .section__items
      .notif.
        This is just notif
        #[span.notif__action #[i.i-close]]
      .notif.notif--error.
        This is just notif
        #[span.notif__action #[i.i-close]]
