doctype html
html(lang='en')
  head
    title Documentation
    link(href='assets/css/app.css', rel='stylesheet')
    link(href='assets/css/demo.css', rel='stylesheet')
  body.container
    h1.d-title Lightning Framework
    include _buttons.pug
    include _fields.pug
