doctype html
html(lang='en')
  head
    title Documentation
    link(href='assets/css/app.css', rel='stylesheet')
    link(href='assets/css/demo.css', rel='stylesheet')
  body.container
    h1.d-title Lightning Scaffold
    p #[em Why another scaffold dear developer?] Because i need my very own scaffold.
    include _buttons.pug
    include _fields.pug
    p.
      Thanks to the developer that made these cool stuff
      - #[a(href= "http://gulpjs.com/") Gulp]
      #[a(href= "http://gridle.org") Gridle.scss]
      #[a(href= "https://github.com/driftyco/ionicons") Ionicons] and many others.
      Without them, i can't create this scaffold.
