// ===========================================
// Button - Default Theme
// ==========================================

$theme-button-padding: (
    small: 2px 3px,
    medium: 3px 5px,
    large: 5px 8px,
    x-large: 8px 13px
);
