// ===========================================
// Field - Default Theme
// ==========================================

$theme-field-input-padding: (
    small: 2px 3px,
    medium: 3px 5px,
    large: 5px 8px,
    x-large: 8px 13px
);

$theme-field-input-error-color: $pink;
