// =====================================================
// Hero we deserve a good hero for your landing page
// =====================================================
// "We deserve a good hero for some landing page"

$hero-prefix: "hero";
$theme-hero-enable: false !default;

@if ($theme-hero-enable == true) {

.#{$hero-prefix} {

    &__title {
        margin: $theme-hero-title-margin;
    }

    &__body {
        margin-bottom: $theme-hero-body-margin;
    }

}

}
