// =====================================================
// Margin Tools
// =====================================================
// "It is highly recommended to use this tool every time
// you want to add margin space because it will ensure
// your design will have consistency across pages"

$margin-tool-base: $theme-spacing !default;

@function margin($scales) {
    $results: ();
    @each $scale in $scales {
        $calculated-margin: $scale * $margin-tool-base;
        $results: join($results, $calculated-margin);
    }
    @return $results;
}

// Units can use shorthand with prefix {rem|em|px}
// Direction use string {left|right|top|bottom}
@mixin margin($units: 0, $direction: null) {
    @if (length($units) == 1) and ($direction != null) {
        margin-#{$direction}: $units * $margin-tool-base;
    } @else {
        margin: margin($units);
    }
}
